* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font: 1.2rem/1.6 'Open Sans', sans-serif;
  background-color: #111;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #FFF;
}

section, nav {
  margin: 2rem auto;
}

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*
  Paleta de cores
  --fl: Fluorescente (ex: --fl-violet: violeta fluorescente).
  --li: Mais claro (ex: --li-blue: azul claro).
*/
:root {
  --purple: #7400B8;
  --violet: #6930C3;
  --fl-violet: #5E60CE;
  --blue: #5390D9;
  --li-blue: #4EA8DE;
  --sky-blue: #48BFE3;
  --li-sky-blue: #56CFE1;
  --turquoise: #64DFDF;
  --li-turquoise: #72EFDD;
  --aquamarine: #80FFDB;
}

.page__header {
  text-align: center;
  padding: 1.5rem;
}

.page__header__title {
  line-height: 1.4;
  background-image: linear-gradient(to right, var(--li-blue), var(--sky-blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Fallback para navegadores que não suportam */
  color: #FFF;
}

.main {
  padding: 0 1.5rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.main__header {
  text-align: center;
  padding: 0 1rem;
}

.main__header__icon {
  width: 80%;
  max-width: 100%;
}

.main__header__content {
  margin-top: .75rem;
}

@media screen and (min-width: 768px) {
  .page__header__title {
    width: 50%;
    margin: auto;
  }

  .main__header {
    text-align: left;
    display: flex;
    margin: 0 4rem;
  }

  .main__header div {
    margin-left: 1rem;
  }

  .main__header__content {
    width: 100%;
    padding-right: 2.5rem;
  }
}
