* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 500vh;
  font: 1.2rem/1.6 'Open Sans', sans-serif;
  background-color: #111;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #FFF;
}

section, nav {
  margin: 2rem auto;
}

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*
  Paleta de cores
  --fl: Fluorescente (ex: --fl-violet: violeta fluorescente).
  --li: Mais claro (ex: --li-blue: azul claro).
*/
:root {
  --purple: #7400B8;
  --violet: #6930C3;
  --fl-violet: #5E60CE;
  --blue: #5390D9;
  --li-blue: #4EA8DE;
  --sky-blue: #48BFE3;
  --li-sky-blue: #56CFE1;
  --turquoise: #64DFDF;
  --li-turquoise: #72EFDD;
  --aquamarine: #80FFDB;
}

.page__header {
  text-align: center;
  padding: 1.5rem;
}

.page__header__title {
  line-height: 1.4;
  background-image: linear-gradient(to right, var(--li-blue), var(--sky-blue));
  /*background-image: linear-gradient(to right, var(--fl-violet), var(--blue));*/
  /*background-image: linear-gradient(to right, var(--turquoise), var(--li-sky-blue), var(--sky-blue));*/
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Fallback para navegadores que não suportam */
  color: #FFF;
}

.icon {
  width: 75%;
  height: 75%;
}

.main {
  padding: 1.25rem 3rem;
}

.main__header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__header__icon {
  flex-basis: 100%;
  margin: auto;
}

.main__header div {
  margin: .7rem auto;
}

.main__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__list div {
  text-align: center;
  flex-basis: 30%;
  flex-grow: 1;
  flex-direction: column;
}

.list__icon {
  padding: 2rem;
  border-radius: 50%;
  background-color: var(--li-blue);
}

.nav__list li {
  margin: 1rem auto;
}

.nav__list li p {
  font-size: 1.1rem;
  margin-top: .25rem;
}

@media screen and (min-width: 768px) {
  .page__header__title {
    width: 50%;
    margin: auto;
  }
  
  .main {
    margin: 2rem auto;
  }
  
  .main__header {
    flex-direction: row;
    align-items: flex-start; 
    text-align: left;
  }
  
  .main__header__icon {
    flex-basis: 40%;
    width: 40%;
    height: 40%;
  }
  
  .main__header div {
    margin: 0 2rem;
  }
}