* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font: 1.2rem/1.6 'Open Sans', sans-serif;
  background-color: #0C1226;
  color: #FFF;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .nav__link {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h3, .list-bullet {
  margin-top: 3rem;
}

h4, h5, h6 {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

a {
  color: #FFF;
}

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*
  Paleta de cores
  --fl: Fluorescente (ex: --fl-violet: violeta fluorescente).
  --li: Mais claro (ex: --li-blue: azul claro).
*/
:root {
  --purple: #7400B8;
  --violet: #6930C3;
  --fl-violet: #5E60CE;
  --blue: #5390D9;
  --li-blue: #4EA8DE;
  --sky-blue: #48BFE3;
  --li-sky-blue: #56CFE1;
  --turquoise: #64DFDF;
  --li-turquoise: #72EFDD;
  --aquamarine: #80FFDB;
}

::-moz-selection { /* Code for Firefox */
  color: #FFF;
  background: var(--sky-blue);
}

::selection {
  color: #FFF;
  background: var(--li-blue);
}

.desktop-navbar {
  display: none;
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
  color: var(--li-sky-blue);
}

.mobile-navbar {
  position: fixed;
  top: 0;
  right: -100vw;
  transition: all 1s ease-in-out;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile-navbar.active {
  right: 0;
}

.mobile-navbar .nav__link {
  font-size: 1.4rem;
}

.mobile-navbar li {
  padding: .5rem 0;
}

.swiper {
  margin: 3rem;
  z-index: 10;
}

.swiper-slide img {
  width: 100%;
  height: 50%;
}

.page__header {
  text-align: center;
  padding: 0 0 1.5rem;
}

.mobile-navbar-toggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  display: flex;
  padding: 2rem 2rem 0 0;
  justify-content: flex-end;
  background-color: transparent;
}

.mobile-navbar-toggler__button {
  border: none;
  color: #FFF;
  background-color: transparent;
}

.mobile-navbar-toggler__button:hover {
  cursor: pointer;
}

.page__header__title {
  margin-top: .5rem;
  padding: 0 .75rem;
  line-height: 1.4;
  background-image: linear-gradient(to right, var(--li-blue), var(--sky-blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Fallback para navegadores que não suportam */
  color: #FFF;
}

.main, .subject__section, .teacher__section {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 1.5rem;
}

.main__header {
  text-align: center;
  padding: 0 1rem;
}

.main__header__icon {
  width: 90%;
  max-width: 100vw;
}

.main__header__content, .subject__description, .teacher__description {
  margin-top: .75rem;
}

.subject__section, .teacher__section {
  text-align: center;
}

.subject, .teacher {
  margin-top: .25rem;
}

.subject:not(:first-of-type), .teacher:not(:first-of-type) {
  margin-top: 3rem;
}

.subject__title, .teacher__name {
  margin-top: 1rem;
  font-size: 1.125rem;
}

.subject__icon, .teacher__photo {
  width: 60%;
}

@media screen and (min-width: 475px) {
  .subject__icon, .teacher__photo {
    width: 40%;
  }
}

@media screen and (min-width: 850px) {
  .main__header {
    display: flex;
    align-items: center;
    margin: 0 4rem;
  }

  .main__header div {
    margin-left: 2.5rem;
  }

  .main__header, .main__header__title {
    text-align: left;
  }

  .main__header__icon {
    flex-basis: 60%;
  }

  .main__header__content {
    width: 100%;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .desktop-navbar, .desktop-navbar .nav__list {
    display: flex;
    justify-content: right;
  }

  .desktop-navbar {
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
  }

  .desktop-navbar li {
    padding: 1rem;
  }

  .mobile-navbar, .mobile-navbar-toggler {
    display: none;
  }

  .page__header__title {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 1100px) {
  .subject__section, .teacher__section {
    margin: 2rem 5rem;
    padding: 0 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subject, .teacher {
    display: flex;
    align-items: center;
  }

  .subject:nth-child(even), .teacher:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
  }

  .subject:not(:first-of-type), .teacher:not(:first-of-type) {
    margin-top: 4rem;
  }

  .subject div, .teacher div {
    flex-direction: column;
    width: calc(100% - 4rem);
  }

  .subject__icon, .teacher__photo {
    flex-basis: 30%;
    height: 100%;
  }

  .subject__title, .teacher__name {
    text-align: left;
  }

  .subject__description, .teacher__description {
    width: 85%;
    margin-top: 1rem;
    text-align: left;
  }

  .subject:nth-child(odd) .subject__title, .subject:nth-child(odd) .subject__description, .teacher:nth-child(odd) .teacher__name .teacher:nth-child(odd) .teacher__description {
    text-align: right;
    float: right;
  }

  .subject:nth-child(odd) .subject__description, .teacher:nth-child(odd) .teacher__description  {
    padding-right: 0;
  }

  .teacher:nth-child(even) .teacher__name, .teacher:nth-child(even) .teacher__description {
    margin-right: 1.5rem;
  }

  .teacher:nth-child(odd) .teacher__name, .teacher:nth-child(odd) .teacher__description {
    margin-left: 1.5rem;
  }
}

footer {
    margin-top: 2.5rem;
    padding: 0 0 1.5rem 1.5rem;
}